#!/bin/bash
set -euo pipefail

if [[ "$(uname -s)" != "Darwin" ]]; then
    exit 0
fi

# Brewfile checksum: {{ include "Brewfile" | sha256sum }}

if ! command -v brew >/dev/null 2>&1; then
    echo "Homebrew installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Installing packages from Brewfile..."

brew bundle --file "{{ .chezmoi.sourceDir }}/Brewfile"
