[data]
name = {{ promptString "git name" | quote }}
email = {{ promptString "git email" | quote }}
school_email = {{ promptString "school email" | quote }}

[data.packages.darwin]
brews = [
  "zsh",
  "antidote",
  "eza",
  "zoxide",
  "nvim",
  "go",
  "gopls",
  "tree",
  "tree-sitter",
  "tree-sitter-cli",
  "onefetch",
  "node",
  "ripgrep",
  "fzf",
  "fd",
  "lazygit",
  "git-delta",
]
casks = [
  "goland",
  "visual-studio-code",
  "keka",
  "discord",
  "appcleaner",
  "ghostty",
  "steam",
  "obsidian",
  "orbstack",
  "prismlauncher",
  "figma",
  "obs",
  "font-jetbrains-mono-nerd-font",
  "rocket-chat",
]
