[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = {{ .gpg_signing_key | quote }}

[init]
    defaultBranch = main

[core]
    editor = nvim
    excludesFile = ~/.config/git/ignore

[fetch]
    prune = true

[diff]
    colorMoved = zebra

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    program = gpg

[includeIf "gitdir:~/school/**"]
    path = ~/.config/git/school
